/*
 *
 * snake.css
 * (c) Richard Willis
 *
 */

.snake-col-map {
  width: 100%;
  box-sizing: border-box;
}

.snake-col-map .map-area {
  min-width: 160px;
  height: 400px;
  position: relative;
  border: 1px solid #aaa;
  overflow: hidden;
}
.snake-col-map .overlay {
	position:absolute;
	width:100%;
	height:100%;
	background:#fff;
	z-index:100;
	opacity:0.5;
}
.snake-col-map .stats {
  min-width: 160px;
}
.snake-col-map .map-msg {
	position:absolute;
	top:42%;
	width:100%;
	display:block;
	font-size:200%;
	z-index:101;
	text-align:center;
}
.snake-col-map .snake {
	width:10px;
	height:10px;
	position:absolute;
	background:#F7931D;
	z-index:99;
	display:block;
	white-space:nowrap;
	overflow:hidden;
}
.snake-col-map .wall {
	width:10px;
	height:10px;
	position:absolute;
    background-color: rgb(75, 75, 77);
    outline: 1px solid rgb(236, 236, 236);
	z-index:99;
}
.snake-col-map .cherry {
	display:none;
	width:10px;
	height:10px;
	position:absolute;
    border-radius: 50%;
    background-color: rgb(231, 76, 60);
	z-index:98;
}
.snake-col-map .score {
	width:100px;
	height:50%;
	text-align:right;
	font-size:300%;
	font-weight:normal;
	padding:4px;
	border:1px solid #ccc;
}

.snake-col-map .right {float:right}
.snake-col-map .error {color:red}
.snake-col-map .hidden {display:none}

.snake-col-map .start-game:hover
{
	cursor:pointer;
}

/* end snake.css */
